@use "../../foundation/color" as cl;
@use "../../foundation/mixin" as bp;
@use "../../foundation/font" as fs;

.c-time {
    font-family: fs.$montserrat;
    font-size: 14px;
    line-height: 25.2px;
    color: cl.$c-black;
    width: 34%;
}

@include mq(sm, max) {
    .c-time {
        font-size: 12px;
        width: auto;
    }
}