@use "../foundation/color" as cl;
@use "../foundation/mixin" as bp;
@use "../foundation/font" as fs;

.l-header-sub-index {
    font-family: fs.$montserrat;
    text-align: center;
    padding-top: 30%;

    .l-header-sub-index__main-title {
        font-size: 72px;
        font-weight: bold;
        line-height: 72px;
    }

    .l-header-sub-index__sub-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 43.2px;
        margin-top: 20px;
    }

    .l-header-sub-index__button {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .l-header-sub-index-scroll {
        position: absolute;
        bottom: 0;
        right: 0;
        animation: arrowMove 1s ease-in-out infinite;

        span {
            font-family: fs.$montserrat;
            position: absolute;
            right: 15px;
            bottom: 50px;
            color: cl.$c-white;
            font-size: 0.7rem;
            letter-spacing: 0.05em;
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 22px;
            width: 1px;
            height: 50px;
            background: #eee;
        }
    }
}

@keyframes arrowMove {
    0% {
        bottom: 0%;
    }

    50% {
        bottom: -2%;
    }

    100% {
        bottom: 0%;
    }
}

.l-header-sub {
    font-family: fs.$montserrat;
    text-align: center;
    padding-top: 100px;

    .l-header-sub__main-title {
        font-size: 36px;
        font-weight: bold;
        line-height: 43.2px;
    }

    .l-header-sub__sub-title {
        font-size: 13px;
        line-height: 15.8px;
        margin-top: 12px;
    }
}

@include mq(lg, max) {
    .l-header-sub-index {

        .l-header-sub-index__main-title {
            font-size: 48px;
            line-height: 56px;
        }

        .l-header-sub-index__sub-title {
            font-size: 20px;
        }
    }

    .l-header-sub {
        .l-header-sub__main-title {
            font-size: 30px;
        }
    }
}

@include mq(sm, max) {
    .l-header-sub-index {
        text-align: left;
        margin-left: 5%;
        padding-top: 50%;

        .l-header-sub-index__main-title {
            width: 320px;
            font-size: 40px;
            line-height: 56px;
        }

        .l-header-sub-index__sub-title {
            width: 150px;
            font-size: 16px;
            line-height: 28.8px;
        }

        .l-header-sub-index__button {
            justify-content: flex-start;
        }
    }

}