@use "../foundation/color" as cl;
@use "../foundation/mixin" as bp;

.c-clearButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 56px;
    border: 1px solid cl.$c-mainFont;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
}